heat_template_version: 2014-10-16 

description: |
  Test template for ChefSolo resource

parameters:

resources:

  random_key_name:
    type: OS::Heat::RandomString
    properties:
      length: 8

  access_key:
    type: OS::Nova::KeyPair
    properties:
      name: { get_resource: random_key_name }
      save_private_key: true

  devops_server:
    type: OS::Nova::Server
    properties:
      name: chefhost 
      metadata:
        rax-heat: { get_param: "OS::stack_id" }
      image: 042395fc-728c-4763-86f9-9b0cacb00701 #CentOS 6.5
      flavor: 4 GB Performance 
      key_name: { get_resource: access_key }
      networks:
      - uuid: "00000000-0000-0000-0000-000000000000"
      - uuid: "11111111-1111-1111-1111-111111111111"

  devops_chefsolo_kitchen_centos:
    type: "Rackspace::Cloud::ChefSolo"
    properties:
       private_key: {get_attr: [access_key, private_key]}
       host: {get_attr: [devops_server, accessIPv4]}
       kitchen: "https://github.com/heat-ci/heat-templates.git"
       node:
         hello: "hi"

outputs:

  "Access Private Key":
    value: { get_attr: [ access_key, private_key ] }
    description: SSH access private key

  "Dev Ops Server ID":
    value: { get_resource: devops_server }
    description: Dev Ops Server ID

  "Random String":
    value: { get_attr: [ random_key_name, value ] }
    description: Random String
